/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('../assets/fonts/S6uyw4BMUTPHjxAwXjeu.woff2') format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../assets/fonts/S6uyw4BMUTPHjx4wXg.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#avid-navbar, #avid-navbar-search {
  /* background-image: url('../../assets/images/header-bg-texture.png'), linear-gradient(86deg, rgba(195,45,123,0.8), rgba(201,14,56,0.7)); */
  background-image: url('../assets/images/header-bg-texture.png'), linear-gradient(120deg, #c32d7b, #cb3716);
  background-color: #c32d7b;
  color: white;
  min-height: 64px;
}

.nav-link.header-link {
  color: white !important;
  border-bottom: 1px solid rgba(255,255,255,0.0);
  margin-right: 2px;
}
.dropdown-item:hover{
  background-color: #C73343;
  color: white;
}
.dropdown-item:focus{
  background-color: #C73343;
  color: white;
}

@media (min-width: 992px) {
  .nav-link.header-link:hover{
    border-bottom: 1px solid white !important;
  }
}
.form-control:focus{
  border-color: rgba(0,0,0,0) !important;
  box-shadow: 0 0 0 0.2rem rgba(0,0,0,0);
}
#navbarSearchInput {
  width: 400px;
}



@media only screen and (max-width: 992px) {
  .nav>li>div.dropdown-toggle {
    display: none;
  }
  .nav .dropdown-menu {
    display:block;
        position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .dropdown-item {
    color: white;
  }
}